{% extends 'arbtunities/base.html' %}
    
{% block head_block %}
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script> var base='{{request.build_absolute_uri}}';</script>
{% endblock %}

{% block content %}                            
  <div id="graph-etheur"></div>
  <div id="graph-ethbtc"></div>
  <div id="graph-ethclp"></div>
{% endblock %}  


{% block js_block %}   
  <script>
    var count = 200;
    var exchs = ['bitstamp', 'kraken', 'cryptomkt'];    
    var j = 0, url = '', data = [], layout = {};

    // ETH-EUR
    layout = {
      title:'Mean of Price Distribution --- ETH-EUR'
    };    
    for(j = 0; j < exchs.length; j++){      
      url = '/arbtunities/api/?count='+ count + '&pair=ETHEUR&' + 'exch=' + exchs[j];         
      $.getJSON(url)
        .done(function(json) {
          var i = 0, x = [], y = [];          
          var arrayLength = json.data.length;           
          for (i = 0; i < arrayLength; i++) {
            x.push(json.data[i].timestamp);
            y.push(json.data[i].price_avg);  
          }
          trace_dict = {
            x: x,
            y: y,
            name: json.exchange,
            type: 'scatter'
          };                    
          data.push(trace_dict);                
          Plotly.newPlot('graph-etheur', data, layout);  
        })
        .fail(function( jqxhr, textStatus, error ) {
          var err = textStatus + ", " + error;
          console.log( "Request Failed: " + err );
        });          
    }

    // ETH-BTC
    exchs = ['bitstamp', 'kraken', 'buda'];    
    j = 0;
    var data2 = [];
    var layout2 = {
      title:'Mean of Price Distribution --- ETH-BTC'
    };    
    for(j = 0; j < exchs.length; j++){      
      url = '/arbtunities/api/?pair=ETHBTC&' + 'exch=' + exchs[j];         
      $.getJSON(url)
        .done(function(json) {
          var i = 0, x = [], y = [];          
          var arrayLength = json.data.length;           
          for (i = 0; i < arrayLength; i++) {
            x.push(json.data[i].timestamp);
            y.push(json.data[i].price_avg);  
          }
          trace_dict = {
            x: x,
            y: y,
            name: json.exchange,
            type: 'scatter'
          };                    
          data2.push(trace_dict);                
          Plotly.newPlot('graph-ethbtc', data2, layout2);  
        })
        .fail(function( jqxhr, textStatus, error ) {
          var err = textStatus + ", " + error;
          console.log( "Request Failed: " + err );
        });          
    }        

    // ETH-CLP
    exchs = ['cryptomkt', 'buda'];    
    j = 0;
    var data3 = [];
    var layout3 = {
      title:'Mean of Price Distribution --- ETH-CLP'
    };    
    for(j = 0; j < exchs.length; j++){      
      url = '/arbtunities/api/?pair=ETHCLP&' + 'exch=' + exchs[j];         
      $.getJSON(url)
        .done(function(json) {
          var i = 0, x = [], y = [];          
          var arrayLength = json.data.length;           
          for (i = 0; i < arrayLength; i++) {
            x.push(json.data[i].timestamp);
            y.push(json.data[i].price_avg);  
          }
          trace_dict = {
            x: x,
            y: y,
            name: json.exchange,
            type: 'scatter'
          };                    
          data3.push(trace_dict);                
          Plotly.newPlot('graph-ethclp', data3, layout3);  
        })
        .fail(function( jqxhr, textStatus, error ) {
          var err = textStatus + ", " + error;
          console.log( "Request Failed: " + err );
        });          
    }

  </script>        

{% endblock %}  