{% extends 'arbtunities/base.html' %}
{% load static %}
    
{% block head_block %}
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script> var base='{{request.build_absolute_uri}}';</script>
{% endblock %}

{% block content %}   
    <div class="row">
      <div class="col-lg-8"><div id="graph-etheur"></div></div>
      <div class="col-lg-2">              
        <table id="eth-eur-tb-cm" class="table">
         <tr><td align="center" colspan="2"><b>Cryptomkt thicker data</b></td></tr>
        </table>      
      </div>
    </div>
    <div class="row">
      <div id="graph-ethbtc"></div>
    </div>
    <div class="row">
      <div class="col-lg-6"><div id="graph-ethclp"></div></div>
      <div class="col-lg-3">
        <table id="eth-clp-tb-cm" class="table">
          <tr><td align="center" colspan="2"><b>Cryptomkt thicker data</b></td></tr>
        </table>
      </div>
      <div class="col-lg-3">
        <table id="eth-clp-tb-bu" class="table">
          <tr><td align="center" colspan="2"><b>Buda thicker data</b></td></tr>
        </table>
      </div>
    </div>
    <div class="row">
      <div id="graph-btcclp"></div>
      <div class="col-lg-2">              
        <table id="btc-clp-tb" class="table">
         <tr><td align="center" colspan="2"><b>Cryptomkt thicker data</b></td></tr>
        </table>      
      </div>
    </div>
    <div class="row">
      <div id="graph-ltcbtc"></div>
    </div>
    <div class="row">
      <div id="graph-bchbtc"></div>  
    </div>

{% endblock %}  


{% block js_block %}   
<script src="{% static 'arbtunities/js/main.js' %}" type="text/javascript"></script>
<!-- <script src="{{ request.scheme }}://{{ request.get_host }}{% static 'arbtunities/js/main.js' %}" type="text/javascript"></script> -->
{% endblock %}  