{% extends 'arbtunities/base.html' %}
{% load static %}
    
{% block content %} 
  {% for market in market_rois %} 
    <div class="row">
      <div class="col-lg-3"></div>
      <div class="col-lg-6">              
        <table id="results-tb" class="table table-striped">
          <thead class="thead-dark"><tr><th align="center" colspan="3" scope="row">{{market.market}}</th></tr></thead>
          <tbody>
            <tr>
              <td>Bid</td>
              <td>Volume</td>
              <td>Exchange</td>
            </tr>
            <tr>
              <td>{{market.hi_bid}}</td>
              <td>{{market.hi_bid_vol}}</td>
              <td>{{market.hi_bid_exch}}</td>
            </tr>
          </tbody>
        </table>      
      </div>
    </div>
  {% endfor %}
    
{% endblock %}  


{% block js_block %}   
<script type="text/javascript">

// var url = '/arboto/arbtunities/api/rois';
// $.getJSON(url)
//     .done(function(json) {
//       $.each( json, function( index, val ) {
//         console.log(val);
//         $('#results-tb').append('<tr><td align="center" colspan="2"><b>Pair: ' + val.market + '</b></td></tr>');
//         $('#results-tb').append('<tr><td></td><td>' + val.market + '</td></tr>');
//       });
//     });


</script>
{% endblock %}  