{% extends 'arbtunities/base.html' %}
{% load static %}
    
{% block content %} 
  {% for market in market_rois %} 
    <div class="row">
      <div class="col-lg-3"></div>
      <div class="col-lg-6">              
        <table id="results-tb" class="table table-striped">
          <thead class="thead-dark"><tr><th align="center" colspan="3" scope="row">{{market.market}}</th></tr></thead>
          <tbody>
            <tr>
              <td>Bid</td>
              <td>Volume</td>
              <td>Exchange</td>
            </tr>
            <tr>
              <td>{{market.hi_bid}}</td>
              <td>{{market.hi_bid_vol}}</td>
              <td>{{market.hi_bid_exch}}</td>
            </tr>
            <tr>
              <td>Ask</td>
              <td>Volume</td>
              <td>Exchange</td>
            </tr>
            <tr>
              <td>{{market.lo_ask}}</td>
              <td>{{market.lo_ask_vol}}</td>
              <td>{{market.lo_ask_exch}}</td>
            </tr>
            <tr>
              <td colspan="3" class="roi-row" data-roi="{{market.roi}}">ROI: {{market.roi}}</td>
            </tr> 
          </tbody>
        </table>      
      </div>
    </div>
  {% endfor %}
    
{% endblock %}  


{% block js_block %}   
<script type="text/javascript">

$.each($('.roi-row'), function() {
  // var roi = parseFloat($(this).text());
  var roi = parseFloat($(this).attr("data-roi"));
  console.log(roi);
  if(roi > 0)
    $(this).addClass("table-success");
  else
    $(this).addClass("table-danger");
});

</script>
{% endblock %}  